<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pokerscorekeeper">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <meta-data
        android:name="com.google.android.gms.ads.APPLICATION_ID"
        android:value="ca-app-pub-1346078373160827~8589576000"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainActivity" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AddPlayerActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.EditPlayerActivity"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.AddScoreActivity"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.EditScoreActivity"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.ScoreDetailActivity"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.ContactOverviewActivity"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".activities.StandingDetailActivity"
            android:parentActivityName=".activities.MainActivity"
            android:windowSoftInputMode="stateHidden"/>

        <provider
            android:name=".providers.PokerProvider"
            android:authorities="com.example.pokerscorekeeper"
            android:enabled="true"
            android:exported="true" />

        <service android:name=".services.PokerIntentService" />
        <service android:name=".services.StandingWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver android:name=".widget.StandingWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/standing_widget_info" />
        </receiver>
    </application>

</manifest>